html {
  box-sizing: border-box;
}
*, *::before, *::after {
  padding: none;
  margin: none;
  box-sizing: inherit;
}
#loginContainer {
  background-color: #191c27;
  height: 100vh;
  width: 100%;
  min-width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 500px;
  width: 50%;
  background-color: black;
  color: white;
  padding: 10px;
  padding-top: 30px;
   height: 40%;
   min-height: 280px;
  align-items: center;
  font-size: 1rem;
  border-radius: 20px;
  row-gap: 3px;
}

form label {
  align-self: start;
  margin-left: 14%;
  color: lightgrey;
}
form input {
  height: 50px;
  width: 75%;
  font-size: 1rem;
  color: white;
  background-color: #191c27;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
}
form button {
  align-self: center;
  font-size: 1.5rem;
  padding: 4px;
  background-color: #00A86B;
  border: none;
  border-radius: 10px;
  color: white;
}
form span {
  font-size: 1rem;
}

@media(max-width: 500px) {

form input {
  width: 75%;
  height: auto;
  background-color: yellow;
} 
form button {
  align-self: center;
  font-size: 1.2rem;
  padding: 4px;
  background-color: #00A86B;
  border: none;
  border-radius: 10px;
  color: white;
}
form span {
  font-size: 0.8rem;
}
}